<h1 class="main-title">Technician Schedule</h1>

<div class="schedule-grid">
  <!-- Time Labels (rows) -->
  <div class="time-labels">
    <% (0..23).each do |hour| %>
      <div class="time-label">
        <%= Time.new(2025, 1, 1, hour).strftime("%I:%M %p") %>
      </div>
    <% end %>
  </div>

  <!-- Technician Columns -->
  <div class="technician-columns">
    <% @technicians.each do |technician| %>
      <div class="technician-column">
        <div class="technician-name">
          <%= technician.name %>
        </div>
        
        <!-- Time Slots (blocks) -->
        <% (0..23).each do |hour| %>
            <div class="time-slot <%= @work_orders_by_technician[technician.id].none? { |wo| wo.time.hour == hour } ? 'empty' : '' %>" data-hour="<%= hour %>" data-technician-id="<%= technician.id %>">

            <!-- Check if there's a work order in this time slot -->
            <% work_order = @work_orders_by_technician[technician.id].detect { |wo| wo.time.hour == hour } %>

            <% if work_order %>
              <div class="work-order-block" data-duration="<%= work_order.duration %>" data-time="<%= work_order.time %>">
                <div class="work-order-location">
                  <%= work_order.location.name %> - <%= work_order.location.city %>
                </div>
                <div class="work-order-info">
                  <%= work_order.time.strftime("%I:%M %p") %> - <%= (work_order.time + work_order.duration.minutes).strftime("%I:%M %p") %> 
                  Price: $<%= work_order.price %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>
  window.workOrdersByTechnician = <%= @work_orders_by_technician.to_json.html_safe %>;
</script>

<%= javascript_include_tag 'schedule' %>